@font-face {
  font-family: 'Multicolore';
  src: url('../fonts/multicolore.otf');
}

* {
  margin: 0;
}

body {
  font-family: monospace;
  background-color: rgb(248, 248, 248);
}

#container {
  margin: 40px 0 0 40px;
  width: fit-content;
  min-width: 550px;
  background: rgba(248, 248, 248, 0.05);
  padding: 30px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 2;
  max-width: 75%;
}

#profile {
  width: 120px;
  height: 120px;
  background: url("../img/cat.gif");
  background-size: cover;
  margin-top: 10px;
}

#name {
  font-size: 25px;
  font-family: 'Multicolore';
}

#links {
  margin-left: 15px;
  margin-top: 10px;
  border-left: 2px #363636 solid;
  font-size: 14px;
}

#links>a {
  display: table;
  margin: 0 0 4px 10px;
  color: #424242;
  text-decoration: none;
  transition: all .1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#links>a:hover {
  margin-left: 15px;
}

a:visited {
  color: rgb(0, 0, 238);
}

#paper {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  z-index: -999;
}

#song {
  display: none;
  opacity: 0;
  color: #888;
  font-size: 12px;
  transition: opacity 1s linear;
}

#song::before {
  content: "♫ ";
  color: #444;
}

#song.visible {
  display: block;
  opacity: 1;
}

#song a {
  color: #888;
  text-decoration: none;
  opacity: 1;
}


#song a:hover {
  text-decoration: underline;
}

@keyframes zzz {
  to {
    background-position-x: 2000px;
  }
}
