@import "@fontsource-variable/azeret-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply select-none bg-base font-mono text-text flex flex-col min-h-full place-items-center;
}

main {
	@apply leading-none flex flex-col justify-center gap-0;
}

svg {
	@apply inline;
}
