body {
    background-color: #0f0f10;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr 1fr;
    grid-template-rows: 1fr 3fr auto;
    grid-template-areas:
        '. header header .'
        '. intro . .'
        '. timeline timeline .'
        '. footer . .';
}

footer {
    grid-area: footer;
}

.name {
    grid-area: header;
    align-self: end;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.intro {
    margin: 12 rem 0;
    grid-area: intro;
    align-self: end;
}

.anim {
    z-index: -1;
    padding-left: 100px;
}
