body {
    background-color: #0f0f10;
    overflow-x: hidden;
}

main {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr 1fr;
    grid-template-rows: 1.25fr 2.75fr auto;
    grid-template-areas:
        '. header header .'
        '. intro . .'
        '. footer footer .';
}

footer {
    grid-area: footer;
}

.name {
    grid-area: header;
    align-self: end;
}

.intro {
    grid-area: intro;
}

.anim {
    z-index: -1;
    padding-left: 100px;
}

@media only screen and (max-width: 834px) {
    main {
        grid-template-columns: 1fr 8fr 2fr 1fr;
    }
}

@media only screen and (max-width: 736px) {
    main {
        grid-template-columns: 1fr 10fr 0fr 1fr;
    }
}
