:root {
    --gradient: linear-gradient(90deg, #11998e 0%, #38ef7d);
    --color-muted: #4a5568;
}

.heading {
    line-height: 1.25;
}

.subheading {
    color: var(--color-muted);
}

.rainbow {
    background: var(--gradient);
    -webkit-animation: rainbow 5s ease infinite;
    animation: rainbow 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.twitchAnim {
    animation: tada;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(-360deg);
    }
}
