.logo {
    user-select: none;
}

#nav {
    position: sticky;
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 5;
}

#nav a:link {
    text-decoration: none;
}

#nav li {
    display: inline;
}
